.flutterwave-container {

    .flutter-button {
        background: #000;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 200px;
        font-size: 20px;
        padding: 5px;
        border: none;
        margin-top: 25px;
        cursor: pointer;

        &:hover {
            background: rgb(250, 103, 50);
            color: #fff;
        }
    }

}