body {
  font-family: "Open Sans Condensed";
  padding: 20px 40px;

  @media screen and (max-width: 768px) {
    padding: 10px 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
